html, form { margin: 0; padding: 0; }
body, input, button { font-family: Helvetica, Arial, sans-serif; }
body { background: #ffffff; color: #111111; }
h1 { font-size: 23px; padding-bottom: 10px; padding-top: 20px; }
div#main { text-align: center; }
div#fineprint { text-align: center; padding-top: 20px; font-size: 10px; }
input#url { float: center; background: #ffffff; color: #222; width: 350px; height: 28px; 
	padding: 1px 1px 1px 1px; margin: 0; outline: 0; border: #000000 solid 1px; font-size: 18px; }
button { border: 0; float: center; height: 32px; cursor: pointer; border: 2px outset buttonface;
	box-sizing: border-box; -webkit-appearance: push-button; white-space: pre; }
